@import "../../style/variables.scss";

.convert-currency {
    padding-top: 50px;
    // .convert-currency__title

    &__title {
        text-align: center;
    }

    // .convert-currency__description

    &__description {
        margin-top: 20px;
        margin-bottom: 50px;
        color: $grey;
        text-align: center;
    }

    // .convert-currency__wrap

    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }

    // .convert-currency__left

    &__left {
        background: $white;
        padding: 50px 60px 50px 40px;
    }

    // .convert-currency__right

    &__right {
        background: $dark-blue;
        padding: 50px 40px 50px 60px;
    }

    &__left,
    &__right {
        position: relative;
        flex: 1 1 50%;
        max-width: 50%;
    }

    // .convert-currency__swap

    &__swap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 75px;
        left: 0;
        width: 56px;
        height: 56px;
        cursor: pointer;
        background-color: $white-blue;
        transition: background-color 0.3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border: none;
        &:hover {
            background-color: #1cb7d6;
        }
    }

    // .convert-currency__swap-icon

    
}

@media only screen and (max-width: 767.98px) {
    .convert-currency__swap {
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@media only screen and (max-width: 767.98px) {
    .convert-currency__left,
    .convert-currency__right {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .convert-currency__right {
        padding: 52px 32px 40px 32px;
    }
    .convert-currency__left {
        padding: 32px 32px 52px;
    }
    .convert-currency__wrap{
        margin: 0 -15px;
    }
    .currency-info-block {
        justify-content: flex-start;
    }
}
